@model List<Rating.Data.SkillHistory>
@{
    ViewData["Title"] = "Overall Skill History";
}

<h3>History</h3>

@if (!Model.Any())
{
    <div>No history available.</div>
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Category</th>
                <th>Date</th>
                <th>Rating Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skillHistoryModel in Model)
            {
                <tr>
                    <td>@skillHistoryModel.Skill.Name</td>
                    <td>@skillHistoryModel.Skill.Category.Name</td>
                    <td>@skillHistoryModel.ChangedAt.ToLocalTime().ToString("g")</td>
                    <td>@((skillHistoryModel.NewRating - skillHistoryModel.OldRating).ToString("+0.0;-0.0"))</td>
                </tr>
            }
        </tbody>
    </table>
}

