@model CategoryRadarChartViewModel

<div>
    <canvas id="categoryRadarChart" width="400" height="400" data-labels='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.CategoryNames))' data-data='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.CategoryAverages))'></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
